/* Global CSS */
* {
    background-color: #002933;
    color: #839496;
    font-family: monospace;
    font-size: 16.5px;
}

a {
    color: #eee8d5;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #2aa198;
    /*text-decoration: underline; */
}

/* Headings */
h1 {
    font-size: 2.45rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.40rem;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5 {
    color: #93a1a1;
}

h2 {
    margin-bottom:  5px;
}

h4 {
    margin: 5px 5px 0 0;
}

/* Center Content */
#site-content {
    margin: 1% auto 0;
    width: 50%;
}

/* Tagline and Socials */
header .tagline {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

header .tagline h3 {
    margin: 0;
}

header .tagline nav {
    margin-left: auto;
}

header .tagline nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .tagline nav ul li {
    margin: 0 30px;
}

.icons {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

header .tagline {
    display: flex;
    flex-wrap: wrap;  /* Allow elements to wrap when space is tight */
    align-items: center;
    justify-content: space-between;
    gap: 10px;  /* Optional: add space between wrapped items */
    padding: 10px 0;
}

@media (max-width: 600px) {
    header .tagline {
        flex-direction: column;
        align-items: flex-start;
    }

    header .tagline nav ul {
        flex-direction: column;
        gap: 5px;
    }

    header .tagline nav ul li {
        margin: 0;
    }
}

